In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Notas_2025_01.xlsx', sheet_name=None)
df1 = df['Prec√°lculo']

In [ ]:
df1['Correo'].str.contains('daira', case=False)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nro            20 non-null     float64
 1   Nro.Documento  20 non-null     float64
 2   Apellido       23 non-null     object
 3   Nombres        23 non-null     object
 4   Correo         23 non-null     object
 5   Q1             19 non-null     float64
 6   Q2             22 non-null     float64
dtypes: float64(4), object(3)
memory usage: 1.4+ KB

In [24]:
email = 'daira.campos'
student_id = 1013266387
df1[(df1["Correo"].str.contains(email)) & (df1["Nro.Documento"] == int(student_id))]

,Nro,Nro.Documento,Apellido,Nombres,Correo,Q1,Q2
0,1.0,1.013266e+09,CAMPOS VASQUEZ,DAIRA JULIETH,daira.campos@est.uexternado.edu.co,5.0,3.8